Repository b-wohs/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @tomheller, @lukasholzer, @lara-aigmueller, @ffriedl89, @szymonbultrowicz, @toddbaert, @NinaKammerlander, @moertenschlag, @rowa-audil, @heartdisease, @dlaubi-dt, @areknow

barista: Get UX snippet content from Strapi.
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  tools/barista/src/builder/components.ts
  tools/barista/src/transform.ts
  tools/barista/src/utils/fetch-strapi-content.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @lara-aigmueller

barista(live-examples): Added SCSS to live examples.
  apps/barista/src/components/live-example/live-example.html
  apps/barista/src/components/live-example/live-example.ts
  libs/shared/barista-definitions/src/lib/example-definitions.ts
  tools/barista/src/transform.ts
  tools/examples/src/generate-examples-lib-metadata.ts
  tools/examples/src/metadata.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink, @tomheller, @lukasholzer

barista(error-pages): Add error pages for Barista.
  apps/barista/src/app.html
  apps/barista/src/app.module.ts
  apps/barista/src/app.ts
  apps/barista/src/pages/error-page/error-page.html
  apps/barista/src/pages/error-page/error-page.scss
  apps/barista/src/pages/error-page/error-page.ts
  apps/barista/src/pages/index-page/index-page.scss
  apps/barista/src/pages/overview-page/overview-page.scss
  apps/barista/src/pages/page-outlet.scss
  apps/barista/src/pages/page-outlet.ts
  apps/barista/src/pages/single-page/single-page.scss
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/shared/page.service.ts
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  tools/barista/src/builder/homepage.ts
  tools/barista/src/generators/category-navigation.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink, @tomheller, @lukasholzer

fix(filter-field): Fixes an issue with button alignments in the filter-field.
  components/button/src/button.scss
  components/filter-field/src/filter-field.scss
Owners: @thomaspink, @tomheller

feat(tree-table): Added events for expansion state changes for DtTreeTableToggleCell.
  apps/components-e2e/src/app/app.routing.module.ts
  apps/components-e2e/src/components/chart/selection-area/selection-area.ts
  apps/components-e2e/src/components/drawer/drawer.ts
  apps/components-e2e/src/components/tree-table/tree-table.e2e.ts
  apps/components-e2e/src/components/tree-table/tree-table.html
  apps/components-e2e/src/components/tree-table/tree-table.module.ts
  apps/components-e2e/src/components/tree-table/tree-table.po.ts
  apps/components-e2e/src/components/tree-table/tree-table.ts
  components/tree-table/README.md
  components/tree-table/src/tree-table-toggle-cell.html
  components/tree-table/src/tree-table-toggle-cell.ts
  components/tree-table/src/tree-table.spec.ts
Owners: @lukasholzer, @ffriedl89, @tomheller

feat(filter-field): example with missing (imho) property for 'RAW' data in Types for filter categories and items
  apps/dev/src/filter-field/filter-field-demo.component.html
  apps/dev/src/filter-field/filter-field-demo.component.ts
Owners: @thomaspink, @lukasholzer

.github/CODEOWNERS:

/* @thomaspink @tomheller @lukasholzer
/** @thomaspink @tomheller @lukasholzer

# Components
/components/* @lukasholzer @thomaspink
/components/alert/** @lara-aigmueller
/components/autocomplete/** @thomaspink
/components/bar-indicator/** @tomheller
/components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/components/button/** @thomaspink
/components/button-group/** @tomheller
/components/card/** @ffriedl89 @lara-aigmueller
/components/chart/** @ffriedl89 @lukasholzer
/components/checkbox/** @thomaspink
/components/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/components/consumption/** @ffriedl89 @thomaspink
/components/container-breakpoint-observer/** @thomaspink
/components/context-dialog/** @ffriedl89 @NinaKammerlander
/components/copy-to-clipboard/** @lara-aigmueller @ffriedl89 @moertenschlag
/components/cta-card/** @thomaspink
/components/drawer/** @lukasholzer @rowa-audil
/components/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/components/event-chart/** @thomaspink @tomheller
/components/expandable-panel/** @lara-aigmueller
/components/expandable-section/** @lara-aigmueller
/components/expandable-text/** @rowa-audil @ffriedl89
/components/filter-field/** @thomaspink @tomheller
/components/form-field/** @thomaspink
/components/formatters/** @ffriedl89 @rowa-audil
/components/highlight/** @lukasholzer @thomaspink
/components/icon/** @thomaspink
/components/info-group/** @ffriedl89 @lara-aigmueller
/components/inline-editor/** @thomaspink
/components/input/** @thomaspink
/components/key-value-list/** @ffriedl89 @moertenschlag
/components/legend/** @thomaspink
/components/loading-distractor/** @thomaspink
/components/menu/** @heartdisease @rowa-audil
/components/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/components/overlay/** @ffriedl89 @thomaspink @tomheller
/components/pagination/** @lukasholzer
/components/progress-bar/** @tomheller
/components/progress-circle/** @ffriedl89 @tomheller
/components/radio/** @thomaspink
/components/schematics/** @lukasholzer
/components/secondary-nav/** @areknow @thomaspink
/components/select/** @thomaspink
/components/selection-area/** @ffriedl89 @lukasholzer
/components/show-more/** @lara-aigmueller
/components/stepper/** @ffriedl89 @thomaspink
/components/switch/** @lara-aigmueller
/components/table/** @ffriedl89 @tomheller @lara-aigmueller
/components/tabs/** @ffriedl89 @thomaspink
/components/tag/** @rowa-audil
/components/tile/** @ffriedl89 @lara-aigmueller
/components/timeline-chart/** @thomaspink
/components/toast/** @ffriedl89 @tomheller
/components/toggle-button-group/** @tomheller
/components/top-bar-navigation/** @lukasholzer
/components/tree-table/** @ffriedl89 @tomheller

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista/* @thomaspink @lukasholzer
/apps/barista/src/** @lara-aigmueller @NinaKammerlander @thomaspink

# Demos app
/apps/demos/* @thomaspink @lukasholzer
/apps/demos/src/** @thomaspink @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/** @thomaspink @lukasholzer

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/documentation/** @lara-aigmueller

# Libs
/libs/* @lukasholzer @thomaspink
/libs/testing/** @thomaspink

# Tools
/tools/* @lukasholzer @thomaspink

/tools/barista/* @thomaspink
/tools/barista/src/** @lara-aigmueller @thomaspink

/tools/gulp/** @thomaspink

/tools/linting/* @thomaspink @lukasholzer
/tools/linting/src/** @rowa-audil @lara-aigmueller @heartdisease

/tools/release/** @lukasholzer @ffriedl89 @thomaspink

/tools/schematics/** @lukasholzer

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink

/tools/pull-request-labeler/** @tomheller

/tools/cherry-picker/** @tomheller
